  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="icofont-envelope"></i><a href="mailto:contact@example.com">lahita.ouarzazate@gmail.com</a>
        <i class="icofont-phone"></i> +212 662 176 599
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" style="background-color: #741d7d;">
    <div class="container">

      <div class="logo float-left">
        <div class="text-light"><a href="index.html"><span><img style="max-height: 50px;"  src="assets/img/logo.png"></span></a></div>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active "><a class="text-white" href="#header">Accuiel</a></li>
          <li><a  class="text-white" href="#about">À propos</a></li>
          <li class="drop-down"><a  class="text-white" href="#services">Services</a>
            <ul>
              <li><a href="#">Elévation</a></li>
              <li><a href="#">Terrassement</a> </li>
              <li><a href="#">Groupes électrogènes</a></li>
              <li><a href="#">Compresseurs</a></li>
              <li><a href="#">Compactage</a></li>
              <li><a href="#">Outillages</a></li>
              <li><a href="#">Dépôts de gas-oil</a></li>
              <li><a href="#">Avris de chantier</a></li>
              <li><a href="#">Sciage</a></li>
            </ul>
          </li>
          <li><a  class="text-white" href="#portfolio">Portfolio</a></li>
          <li><a  class="text-white" href="#team">Equipe</a></li>
        
          <li><a  class="text-white" href="#contact">Contact </a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->